* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: hsl(0, 1%, 44%);
  background-color: hsl(0, 0%, 94%);
}

.container {
  /* max-width: 100rem; */
  max-width: 60%;
  margin: 20rem auto;
  padding: 10rem;
  box-shadow: 0 1rem 1rem hsl(0, 0%, 86%);
  border-radius: 5rem 5rem 15rem 5rem;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input {
  font-size: 3.2rem;
  padding-bottom: 5rem;
  letter-spacing: 1.6px;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  width: 100%;

  position: relative;
}

.form {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.form__group {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form__label {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.form__input {
  text-transform: uppercase;
  /* max-width: 20rem; */
  /* max-width: 15%; */
  font-family: "Poppins", sans-serif;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 1rem;
  padding: 1.6rem;
  font-size: 3.2rem;
}

.form__input:focus {
  outline: none;
  border: 1px solid hsl(259, 100%, 65%);
}

.form__input:focus:invalid {
  border: 1px solid hsl(0, 100%, 67%);
}

.error {
  font-size: 1.6rem;
  color: hsl(0, 100%, 67%);
}

span.error {
  font-style: italic;
}

.error__border {
  border: 1px solid hsl(0, 100%, 67%);
}

.button {
  padding: 1.2rem;
  border: none;
  width: 6.6rem;
  height: 6.4rem;

  border-radius: 50%;
  cursor: pointer;
  background-color: hsl(259, 100%, 65%);

  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.button:hover {
  box-shadow: 0 1rem 1rem hsl(0, 0%, 86%);
}

.button--active {
  background-color: hsl(0, 0%, 8%);
}

.result {
  font-size: 6.4rem;
  font-weight: 800;
  font-style: italic;
  color: hsl(0, 0%, 8%);
  padding-top: 5rem;
}

.result__detail {
  color: hsl(259, 100%, 65%);
}

.hidden {
  display: none;
}

/* 1200px */
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/* 944px */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .container {
    padding: 5rem;
  }

  .button {
    top: 100%;
    left: 50%;
  }

  .form__group {
    width: 30%;
  }

  .form {
    justify-content: space-between;
  }
}

/* 704px */
@media (max-width: 44em) {
  html {
    /* 6px / 16px  */
    font-size: 37.5%;
  }

  .container {
    max-width: 70%;
  }

  .form__input {
    /* max-width: 15rem; */
  }
}

/* 544px */
@media (max-width: 34em) {
  .container {
    max-width: 90%;
  }
}
